.container	

	%h1
		=category.name


	%p
	-if category.products.count>0
		- category.products.each do |product|
			.col-sm-12.al-left
				%h2
					=link_to product.title.upcase, category_product_path(category, product), :id => 'title'
					-if product.reviews.count>0
						=link_to category_product_path(category, product, :anchor => "review"), :id => 'reviews' do
							%span.glyphicon.glyphicon-comment
							=product.reviews.count
					-else
						=link_to category_product_path(category, product, :anchor => "review"), :id => 'reviews' do
							Add first review

					.rating.pull-right 
						-if product.average_rating
							Rating 
							=number_with_precision(product.average_rating, :precision =>2)
				%p#desc=link_to product.description.truncate(240, separator: /\s/, omission: '... (continued)'), category_product_path(category, product)
				%p.author
					Added by
					=link_to product.user.firstname, user_path(product.user)
					=time_ago_in_words(product.created_at)
					ago
				-if user_signed_in? && current_user==product.user
					%p#footer-menu
						= link_to 'Edit', edit_category_path(category)
						\|
						= link_to 'Destroy', edit_category_path(category)
				%hr/
	-else
		%h2#title There aren't any products in this category yet. 

	
	-if user_signed_in?
		%p
			%h3 New product
			= render 'products/form'
		= link_to 'Edit', edit_category_path(category)
		\|
	= link_to 'Back', categories_path
