%h1.pull-left
  = product.title
%p.pull-right#price
  $
  =number_with_precision(product.price, :precision => 2)
.clearfix
%p#description
  = product.description
%p.date
  Listed on
  = product.created_at.strftime("%A, #{product.created_at.day.ordinalize} %B ")
  by
  =link_to product.user.firstname
-if user_signed_in? && current_user==product.user 
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', category_products_path
%hr/
#review
  -if product.reviews.count>0 
    %h2
      Reviews (
      =number_with_precision(product.average_rating, precision: 2)  
      \)
-if user_signed_in?
  =link_to "Add new review", "#review", id: "comments-link", class: "btn btn-default"
  #cmm= render 'reviews/form'

-else
  =link_to "Sign in to add a review", new_user_session_path 
  %br/
= render reviews.reverse

  

